* {
    font-family: 'Verdana', sans-serif, monospace;
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    justify-items: center;
}

img {
    margin-top: -2%;
    width: 70%;
}

.gameplay {
    margin-top: 1%;
    margin-left: 15%;
}