* {
    font-family: 'Verdana', sans-serif, monospace;
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    justify-items: center;
}

img {
    width: 70%;
}

.gameplay {
    margin-top: 1%;
    margin-left: 15%;
}

app-chat-box {
    padding: 0 30px 5px 30px;
}