* {
    font-family: 'Verdana', sans-serif, monospace;
    text-align: center;
    font-size: 110%;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    justify-items: center;
    width: 100%;
}

img {
    margin-top: -2%;
    width: 70%;
}

section {
    display: flex;
    flex-direction: row;
}