<div id="container">
    <div class="cards">
        <div class="card">
            <div class="front-card">
                <img src="{{slide.image1url}}" />
            </div>
            <div class="back-card">
                <p>Difficulté : {{slide.difficulte}}</p>
                <span>Meilleurs scores solo
                    <p *ngFor="let time of slide.soloBestTimes">{{time.name}} : {{time.time}}</p>
                </span>
                <span>Meilleurs scores 1v1
                    <p *ngFor="let time of slide.vsBestTimes">{{time.name}} : {{time.time}}</p>
                </span>
            </div>
        </div>
    </div>
    <p>{{slide.name}}</p>
    <button *ngIf="this.page === 'config'" routerLink="{{ routeOne }}" (click)="startSoloGame()">{{ btnOne }}</button>
    <button *ngIf="this.page === 'config'" routerLink="{{ routeTwo }}" (click)="createJoinMultiGame()">{{ btnTwo }}</button>
    <button *ngIf="this.page === 'selection'" (click)="showInput1 = true; showInput2 = false;">Jouer en solo</button>
    <button *ngIf="this.page === 'selection'" (click)="showInput1 = false; showInput2 = true; checkGame()">Option
        multijoueur</button>
    <div class="player-name" *ngIf="showInput1">
        <input type="text" [(ngModel)]="inputValue1" placeholder="Entrez votre nom" [ngClass]="{'error-border': applyBorder}">
        <button (click)="verifySoloInput()">{{ btnOne }}</button>
    </div>
    <div class="player-name" *ngIf="showInput2">
        <input type="text" [(ngModel)]="inputValue2" placeholder="Entrez votre nom" [ngClass]="{'error-border': applyBorder}">
        <button (click)="verifyMultiInput()">{{ this.gameExists ? "Joindre" : "Créer" }}</button>
    </div>

</div>