<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />

<div class="container justified">
    <section class="header-section">
        <img src="../../../assets/logo.jpg" class="middle-element" alt="Logo Projet">
        <button class="config-button right-element" routerLink="/game">
            <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
        </button>
    </section>
    <h1 class="header-item">Bienvenue au jeu des différences !</h1>
    <h2>Modes de jeu</h2>
    <section class="section">
        <button class="button" routerLink="/material">Classique</button>
        <button class="button" routerLink="/game">Temps Limité</button>
    </section>
    <footer class="footer-item">
        <h2>Membres de l'équipe 204</h2>
        <p>
            <span>Coralie Brodeur</span>, <span>Imène Clara Ghazi</span>, <span>Kylian Chaussoy</span>, <span>Thibault Demagny</span>,
            <span>Younes Benabbou</span>, <span>Dumitru Zlotea</span>
        </p>
    </footer>
</div>
