:root {
    --background-color: #5100ff;
}

* {
    font-family: 'Monaco', cursive;
    text-align: center;
}

h1 {
    font-family: 'Monaco', cursive;
    font-size: 5vw;
}

h2 {
    font-family: 'Monaco', cursive;
    font-size: 3vw;
    margin-bottom: 30px;
}

.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section {
    display: flex;
}

.button {
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    background-color: transparent;
    font-size: 3vw;
    width: 50%;
}

.config-button {
    border: none;
    background-color: var(--background-color);
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
}

.config-button:hover {
    font-size: 1em;
}

.header-item {
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.footer-item {
    font-size: 1.8vw;
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: green;
}
.footer-item p :nth-child(odd) {
    color: blue;
}
