<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
<header>
    <button class="config-button" routerLink="/game">
        <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
    </button>
</header>
<div class="container justified">
    <p>LOGO BANNER</p>
    <h1 class="header-item">Bienvenue au jeu des différences !</h1>
    <h2>Modes de jeu</h2>
    <section class="section">
        <button class="button" routerLink="/game">Classique</button>
        <button class="button" routerLink="/game">Temps Limité</button>
    </section>
    <footer class="footer-item">
        <h2>Membres de l'équipe</h2>
        <p>
            <span>Coralie Brodeur</span>, <span>Imène Clara Ghazi</span>, <span>Kylian Chaussoy</span>, <span>Thibault Demagny</span>,
            <span>Younes Benabbou</span>, <span>Dumitru Zlotea</span>
        </p>
    </footer>
</div>
