<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
    <p *ngIf="opponentUsername">{{opponentUsername}} a trouvé {{opponentDifferencesFound}} différences</p>
    <p>Section messages</p>
    <div class="chatbox" #chatbox>
        <ul class="chat">
            <li [ngClass]="message.username === 'Système' ? 'system' : message.username === this.username ? 'player': 'opponent'"
                *ngFor="let message of messages">
                <strong>{{message.username}}</strong>
                <span class="glyphicon glyphicon-time"> {{ message.time | date: 'HH:mm:ss' }}</span>
                <p>
                    {{ message.message }}
                </p>
            </li>
        </ul>
    </div>
    <form *ngIf="this.gameRoom?.userGame?.username2" (submit)="sendMessage()">
        <input type="text" [(ngModel)]="message" placeholder="Tapez un message" maxlength="200"
            (focus)="chatInputFocus()" (blur)="chatInputBlur()" />
        <button type="submit">Envoyer</button>
    </form>
</div>