<div class="container">
    <section *ngIf="this.gameRoom.userGame.username2">
        <p>{{opponentUsername}} a trouvé {{opponentDifferencesFound}} différences</p>
    </section>
    <section>
        <div class="chatbox" #chatbox>
            <ul class="chat">
                <li *ngFor="let message of messages">
                    {{message.username}} : {{ message.message }}
                </li>
            </ul>
        </div>
        <form *ngIf="this.gameRoom.userGame.username2" (submit)="sendMessage()">
            <input type="text" [(ngModel)]="message" maxlength="200"/>
            <button type="submit">Send</button>
        </form>
    </section>
</div>