<button class="button" routerLink='/config'>Configuration</button>
<div id="images-container">
    <div class="images-zone">
        <canvas #canvas1 [attr.width]="width" [attr.height]="height"></canvas>
        <canvas #canvas2 [attr.width]="width" [attr.height]="height"></canvas>
    </div>
    <p>Téléverser une image dans la zone de gauche :</p>
    <input #image1 type="file" accept="image/bmp" (change)="verifyImageFormat($event, image1)" />
    <p>Téléverser une image dans la zone de droite :</p>
    <input #image2 type="file" accept="image/bmp" (change)="verifyImageFormat($event, image2)" />
    <p>Téléverser la même image dans les deux zones :</p>
    <input #images1et2 type="file" accept="image/bmp" (change)="verifyImageFormat($event, images1et2)" />
    <p>L'image doit être dans un format bitmap (BMP) 24-bit de taille 640x480 pixels</p>
</div>
<div id="creation-game-buttons-container">
    <button class="button" (click)="reset()">Reset</button>
    <button class="button" (click)="runDetectionSystem()">Detecter les differences</button>
    <button *ngIf="allowDisplayDiff" class="button" (click)="openDifferencesDialog()">Afficher les differences</button>
</div>
<div *ngIf="allowDisplayDiff && 3 <= differenceCount && differenceCount <= 9">
    <label for="nameGame">Entrez le nom du jeu </label>
    <input #nameGame type="text" />
    <button class="button" (click)="saveNameGame(nameGame.value)">Envoyer</button>
</div>
<fieldset>
    <legend>Choix du rayon d'élargissement</legend>
    <div *ngFor="let radius of possibleRadius">
        <input *ngIf="radius !== 3" type="radio" #rayon{{radius}} name="choixRayon" value={{(radius)}} (click)="updateRadius(radius)" />
        <input *ngIf="radius === 3" type="radio" #rayon{{radius}} name="choixRayon" value={{(radius)}} (click)="updateRadius(radius)" checked/>
        <label for="rayon{{radius}}">{{radius}}</label>
    </div>
</fieldset>
