* {
    font-family: 'Verdana', sans-serif, monospace;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}

header {
    margin-top: 2.1%;
    display: grid;
    justify-items: center;
    width: 100%;
}

img {
    margin-top: -2%;
    width: 60%;
}

.home-button {
    border: none;
    background-color: transparent;
    margin-right: auto;
    margin-left: 5%;
    transition: transform 0.3s ease-in-out;
    font-size: 180%;
}

.home-button:hover {
    transform: scale(1.1);
}

.slick-slider {
    margin-top: 5%;
    width: 90%;
}

.slide {
    margin-left: 0.1%;
    margin-right: 0.1%;
}

.slick-prev:before, .slick-next:before {
    width: 25px;
    height: 25px;
    color: black;
}