@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);

    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');

    mat-card-title {
        // Read the 500 hue from the primary color palette.
        color: mat.get-color-from-palette($primary-palette, 500);
    }
}

.container {
    min-width: 160vh;
    min-height: 80vh;
    height: auto;
    background: transparent;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slick-slider {
    min-width: 160vh;
    width: 1080px;
    background: #d6c5fb;
}
  
body .slick-prev, 
body .slick-next {
    width: 50px;
    height: 50px;
    background: transparent !important;
    z-index: 100;
}