@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);

    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');

    mat-card-title {
        // Read the 500 hue from the primary color palette.
        color: mat.get-color-from-palette($primary-palette, 500);
    }
}

* {
    font-family: 'Verdana ', sans-serif, monospace;
    font-size: 20px;
}

#main {
    height: 100%;
    width: 100%;
    background: #ffffff;
}

mat-toolbar {

    position: sticky;
    top: 0;
    z-index: 1;

    span {
        margin: auto;
        font-size: 50px;
        color: black;
    }
}

.home-button {
    border: none;
    background-color: transparent;
    transition: transform 0.2s ease-in-out;
}

.home-button:hover {
    transform: scale(1.2);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;

    > * {
        margin-top: 20px;
    }
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slick-slider {
    min-width: 160vh;
    width: 1080px;
    background: #ffffff;
}

body .slick-prev,
body .slick-next {
    width: 25px;
    height: 25px;
    background: black !important;
}

.slide {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    font-size: 15px;
    display: inline-block;
    text-align: center;
    padding: 0.7em 2em;
    border: 3px solid #8200FF;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #8200FF;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    margin-left: 5px;
    margin-top: 50px;
}
   
.btn:before {
    transition: 0.15s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #8200FF;
    z-index: -1;
}
   
.btn:hover, btn:focus {
    color: white;
}
   
.btn:hover:before, btn:focus:before {
    left: 0;
    right: 0;
    opacity: 1;
}
   
.btn:active {
    transform: scale(0.9);
}