<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
<main [ngClass]="favoriteTheme" class="mat-app-background">
    <mat-toolbar color="primary">
        <button class="home-button" routerLink="/home">
            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
        </button>
        <span>Configurations</span>
    </mat-toolbar>

    <div class="container">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <app-game-card-config></app-game-card-config>
            </div>
           
        </ngx-slick-carousel>

        <button (click)="addSlide()">Add</button>
        <button (click)="removeSlide()">Remove</button>
        <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
        <button (click)="slickModal.unslick()">unslick</button>

        <button>Créer un jeu</button>

        <h3>Constantes:</h3>
        <ul>
            <li>Temps initial du compte à rebours: 30s</li>
            <li>Temps de pénalité pour l’utilisation d’un indice: 5s</li>
            <li>Temps gagné avec la découverte d’une différence: 5s</li>
        </ul>
    </div>
</main>


