* {
    font-size: 18px;
}

#main {
    height: 100%;
    width: 100%;
    background: #d6c5fb;
}

mat-toolbar {

    position: sticky;
    top: 0;
    z-index: 1;

    span {
        margin: auto;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;

    > * {
        margin-top: 20px;
    }

}

.slide {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    font-size: 19px;
    background-image: linear-gradient(#639ebd 45%, #0f8ed2 55%);
    border-radius: 20px;
    box-shadow: 0 2px 2px #888888;
    transition: color 0.3s, background-image 0.5s, ease-in-out;
}

.btn:hover {
    background-image: linear-gradient(#b1ccda 49%, #96b4c5 51%);
    color: #03324c;
}

.home-button {
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(#639ebd 45%, #0f8ed2 55%);
    background-color: transparent;
    transition: transform 0.2s, color 0.3s, background-image 0.5s, ease-in-out;
}

.home-button:hover {
    transform: scale(1.1);
    background-image: linear-gradient(#b1ccda 49%, #96b4c5 51%);
    color: #03324c;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

.banner {

    display: grid;
    grid-template-columns: 50px auto;
    justify-content: center;

    .danger-icon {
        display: flex;
        justify-content: center;
    }

}

.theme-selector {

    position: relative;

    .fav-icon {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    mat-radio-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        >* {
            margin: auto 10px;
        }

    }

}

h2 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.centered-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.centered-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: row;
}