<div class="container">
    <div class="countdown">
        <svg viewBox="-50 -50 100 100">
            <circle r="45"></circle>
        </svg>
        <p class="timer1">{{ minutes | number:'2.0-0' }}:{{
            seconds
            | number:'2.0-0' }}</p>
    </div>
    <section>
        <p>Mode {{gameMode}}</p>
        <p>Niveau {{difficulty}}</p>
        <p>Vous devez trouver un total de {{totalNumber}} différences</p>
        <p>Vous avez trouvé {{differencesFound}} différences</p>
    </section>
    <button (click)="endGameParent.emit()">Abandonner la partie</button>
</div>