.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95%;
    background: #fff;
}

button {
    font-size: 100%;
    display: inline-block;
    text-align: center;
    padding: 0.7em 2em;
    border: 3px solid #8200FF;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #8200FF;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

button:before {
    transition: 0.15s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #8200FF;
    z-index: -1;
}

button:hover, button:focus {
    color: white;
}

button:hover:before, button:focus:before {
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}

.countdown {
    display: grid;
    width: 25%;
    height: 25%;
}

svg {
    stroke-width: 5;
    fill: none;
    stroke: #8200FF;
}

.timer {
    font-size: 100%;
    margin-top: -70%;
}