<main [ngClass]="favoriteTheme" class="mat-app-background">
    <mat-toolbar color="primary">
        <span>Démo Angular Material</span>
    </mat-toolbar>

    <div class="container">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="..\assets\logo.jpg" alt="" width="100%">
                <app-game-card></app-game-card>
            </div>
        </ngx-slick-carousel>
        
        <button (click)="addSlide()">Add</button>
        <button (click)="removeSlide()">Remove</button>
        <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
        <button (click)="slickModal.unslick()">unslick</button>
        
        <mat-card-title align="center">FAQ Material</mat-card-title>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header> Je suis perdu(e). C'est quoi Angular Material ? </mat-expansion-panel-header>
                    <p>
                        Angular Material est une librairie d'éléments d'interface (UI) qui permet d'avoir une interface uniforme suivant la philosophie de <em>Material Design</em> de Google. La librairie est composé de plusieurs éléments différents qui peuvent être utilisés séparément ou ensemble.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header> Suis-je contraint(e) d'utiliser Angular Material ? </mat-expansion-panel-header>
                    <p>
                        L'utilisation d'Angular Material n'est pas imposée, mais on vous le recommande pour avoir une interface uniforme. Material Design est très bien supporté par Angular et peut être utilisé avec des interfaces écrites avec du HTML et CSS de base. Vous pouvez utiliser une autre librairie d'interface (Bootstrap, Tailwind, etc.), mais évitez de les mélanger avec Material : gardez un seul choix pour votre projet.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Je peux remarquer quatre différents thèmes. Comment faire pour en choisir un ?
                    </mat-expansion-panel-header>
                    <p>
                        Les 4 boutons en haut de la page permettent de choisir le thème CSS de la page. <br /> Consultez le code source du <em>Component</em> pour la définition des thèmes. Consultez le code source du gabarit <em>HTML</em> de la page pour voir un exemple concret des directives Angular <strong>[ngClass]</strong>, <strong>[(ngModel)]</strong> et <strong>*ngFor</strong>.
                    </p> 
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </div>
</main>

<ng-template #merciDialogContent>
    <h1 mat-dialog-title>Merci !</h1>
    <div mat-dialog-content>Merci de votre retour. C'est très apprécié.</div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</ng-template>
