<!-- <h2>Paramètres:</h2>
<label> Random ID: </label> -->
<div class="config-container">
    <p><label>Countdown start time (s) : 
        <button (click)="decreaseValue('initialTime')">-</button>
        <input value="{{ initialTime }}"/>
        <button (click)="increaseValue('initialTime')">+</button>
    </label></p>
    <p><label>Penalty time for using a hint (s) : 
        <button (click)="decreaseValue('penaltyTime')">-</button>
        <input value="{{ penaltyTime }}"/>
        <button (click)="increaseValue('penaltyTime')">+</button>
    </label></p>
    <p><label>Bonus time for finding a difference (s) : 
        <button (click)="decreaseValue('bonusTime')">-</button>
        <input value="{{ bonusTime }}"/>
        <button (click)="increaseValue('bonusTime')">+</button>
    </label></p>
</div>
