<h2>Paramètres:</h2>
<label> Rnadom ID: </label>
<li><label>Temps initial du compte à rebours (s): 
    <button>-</button>
    <input value="{{ initialTime }}"/>
    <button>+</button>
</label></li>
<li><label>Temps de pénalité pour l’utilisation d’un indice (s): 
    <button>-</button>
    <input value="{{ penaltyTime }}"/>
    <button>+</button>
</label></li>
<li><label>Temps gagné avec la découverte d’une différence (s): 
    <button>-</button>
    <input value="{{ bonusTime }}"/>
    <button>+</button>
</label></li>
