@font-face {
    font-family: 'MarioFont';
    src: url('../../../assets/fonts/MarioFont.ttf');
}

#title {
    font-family: 'MarioFont';
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
    text-shadow: -2px -2px #8200ff, 2px 2px #8200ff, 2px -2px #8200ff, -2px 2px #8200ff;
}

#replaySection {
    display: flex;
    padding: 30px;
}

#div0 {
    flex-basis: 50%;
}

#div1 {
    flex-basis: 50%;
    display: flex;
    margin-top: 333px;
}

#scoreBoard {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#options {
    padding: 25px;
    display: flex;
    justify-content: center;
}

app-fake-chat-box {
    padding: 0 30px 5px 30px;
}

#options button {
    margin-right: 10px;
}

#options button:last-child {
    margin-right: 0;
}

#mainContainer {
    border: 7px solid #8200ff;
    transform: scale(0.65);
    transform-origin: top left;
    position: fixed;
}
