<div class="title">
    <p>Reprise Vidéo</p>
</div>
<div class="replaySection">
    <div class="div0">
        <app-fake-score-board
            [gameRoom]="this.data.videoReplay.scoreboardParams.gameRoom"
            [gameName]="this.data.videoReplay.scoreboardParams.gameName"
            [opponentUsername]="this.data.videoReplay.scoreboardParams.opponentUsername"
            [username]="this.data.videoReplay.scoreboardParams.username"
            [time]="this.time"
        ></app-fake-score-board>
    </div>
    <div class="div1">
        <app-fake-play-area
            [original]="this.data.videoReplay.images.original"
            [modified]="this.data.videoReplay.images.modified"
            [time]="this.time"
            [actions]="this.playAreaActions"
        ></app-fake-play-area>
        <app-fake-chat-box> [time]="this.time" </app-fake-chat-box>
    </div>
</div>

<div class="options">
    <button mat-button (click)="stopTimer()">Pause</button>
    <button mat-button (click)="startTimer()">Reprendre</button>
    <button mat-button (click)="restart()">Recommencer</button>
    <select [(ngModel)]="speed" (change)="startTimer()">
        <option value="1">x1</option>
        <option value="2">x2</option>
        <option value="4">x4</option>
    </select>

    <button mat-button routerLink="/home">Terminer</button>
</div>
